<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @RenderSection("HelloWorld", required: false)

    @if (IsSectionDefined("GoodbyeWorld"))
    {
        @RenderSection("GoodbyeWorld", required: false)
    }
    else
    {
        <h1>По умолчанию</h1>
    }
</body>
</html>